<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#modalNewAudit" <%= hidden %>>Create Audit</a>
            <a class="nav-item nav-link" href="#">Register Livestock</a>
            <a class="nav-item nav-link disabled" href="#">Staff</a>
        </div>
    </div>
</nav>